body {
    margin: 0;
    padding: 0;
    background-color: #FFC017;
    position: relative;
    display: block;
    
}

/* .navbar {
    text-align: right;
    background-color: #FFC017;
    border-bottom: 2px solid black;
    
   
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .navbar li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
   */

  

  